.foter-container {
  display: flex;

  @media screen and (max-width: 767px) {
    display: block;
    text-align: center;
  }

  @media screen and (max-width: 1199px) {
    display: block;
    padding-bottom: 60px;
  }
}

.div-foter {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-bottom: 60px;
  }
}

.div-foter-item {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-left: auto;
  }
}

.logo-header-index {
  display: inline-block;
}

.footer .web {
  color: var(--color-blue);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;

  @media screen and (max-width: 1199px) {
    font-size: 24px;
    letter-spacing: 0.72px;
  }
}

.footer .studio {
  color: var(--coor-white);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;

  @media screen and (max-width: 1199px) {
    font-size: 24px;
    letter-spacing: 0.72px;
  }
}

.footer {
  background: var(--color-dark-blue);
  padding-top: 60px;
}

.footer .foter__address {
  flex-shrink: 0;
  color: var(--coor-white);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7; /* 171.429% */
  letter-spacing: 0.42px;
  margin: 0;
  margin-top: 20px;
}

.footer .address-text {
  margin: 0;
  padding: 0;
}

.footer .address-mail {
  display: block;
  color: var(--color-gray);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7; /* 171.429% */
  letter-spacing: 0.42px;
  margin: 0;
  margin-top: 9px;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--coor-white);
  }
}

.footer .address-tel {
  width: 231px;
  flex-shrink: 0;
  color: var(--color-gray);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7; /* 171.429% */
  letter-spacing: 0.42px;
  margin: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--coor-white);
  }
}

.div__social-networks {
  margin-left: 70px;

  @media screen and (max-width: 1199px) {
    margin-left: 165px;
    text-align: center;
    padding-top: 5px;
    margin-right: auto;
  }

  @media screen and (max-width: 767px) {
    padding: 0;
    margin: 0;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
  }

  @media screen and (max-width: 479px) {
    padding: 0;
    margin: 0;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
  }
}

.social__networks {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  color: var(--coor-white);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.sociale__list-foter {
  display: flex;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 767px) {
    padding: 0;
    margin: 0;
    justify-content: center;
  }
}

.social__list-item-foter {
  margin: 0;
  padding: 0;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.social__list-link-foter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-color: var(--coor-white);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--color-blue);
  }
}

.svg__foter {
  fill: var(--coor-white);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .svg-foter,
  &:focus .svg-foter {
    fill: var(--coor-white);
  }
}
