@charset "UTF-8";
:root {
  --color-blue: #2196f3;
  --color-dark: #000;
  --coor-white: #fff;
  --color-white-e: #eee;
  --color-gray: rgba(255, 255, 255, 0.6);
  --color-white-dark: #212121;
  --color-gray-dark: #757575;
  --color-dark-blue: #2f303a;
  --bagroung-color-white: #f5f4fa;
  --border-bottom-color: #ececec;
  --color-svg-gray: #afb1b8;
}

body {
  font-family: "Roboto", Roboto sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  position: relative;
  background: var(--coor-white);
  border-bottom: 1px solid var(--border-bottom-color);
}

.header__logo {
  color: var(--color-blue);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 94px;
}
@media screen and (max-width: 1199px) {
  .header__logo {
    font-size: 24px;
    letter-spacing: 0.72px;
    margin-right: 84px;
  }
}

.logo-studio {
  color: var(--color-dark);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .logo-studio {
    font-size: 24px;
    letter-spacing: 0.72px;
  }
}

/* site-nav */
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 999;
  display: none;
  height: 100%;
  background-color: var(--coor-white);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
  overflow-y: scroll;
  overflow-y: scroll;
}
.menu-container.is-open {
  display: block;
}

.menu-button {
  margin: 0;
  padding: 0;
  display: block;
  border: none;
  background: none;
}
.menu-button:hover svg, .menu-button:focus svg {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--color-blue);
}

.menu-button-close {
  position: absolute;
  right: 15px;
  top: 10px;
  margin: 0;
  padding: 0;
  display: block;
  border: none;
  background: none;
  z-index: 50;
}
.menu-button-close:hover svg, .menu-button-close:focus svg {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--color-blue);
}

@media screen and (min-width: 767px) {
  .menu-button,
  .menu-button-close {
    display: none;
  }
}
.header__site-nav .current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--color-blue);
}

.header__site-nav {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__site-nav-mobile {
  display: block;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .header__site-nav {
    display: none;
  }
}
.header__site-nav .site-nav-item {
  margin-right: 50px;
}
.header__site-nav .site-nav-item:last-child {
  margin-right: 0;
}

.header__site-nav .site-nav-link {
  color: var(--color-white-dark);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__site-nav .site-nav-link:hover, .header__site-nav .site-nav-link:focus {
  color: var(--color-blue);
}

.header__site-nav .site-nav-link.current {
  position: relative;
  color: var(--color-white-dark);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__site-nav .site-nav-link.current:hover, .header__site-nav .site-nav-link.current:focus {
  color: var(--color-blue);
}

.header__site-nav-mobile .site-nav-link.current {
  color: var(--color-white-dark);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__site-nav-mobile .site-nav-link.current:hover, .header__site-nav-mobile .site-nav-link.current:focus {
  color: var(--color-blue);
}

.header__site-nav-mobile .site-nav-link.current {
  color: var(--color-blue);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__site-nav .site-nav-link.current {
  color: var(--color-blue);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__site-nav-mobile .site-nav-link {
  color: var(--color-white-dark);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
  display: block;
  padding-top: 0;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__site-nav-mobile .site-nav-link:hover, .header__site-nav-mobile .site-nav-link:focus {
  color: var(--color-blue);
}
@media screen and (max-width: 479px) {
  .header__site-nav-mobile .site-nav-link {
    font-size: 34px;
  }
}

.header__main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header__main-nav {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__main-nav-mobile {
  padding: 0;
  margin-top: 48px;
  margin-left: 40px;
}

/* contacts */
.header__main-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 7px;
}

.header__contacts {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .header__contacts {
    display: block;
    margin-left: 96px;
  }
}
@media screen and (max-width: 767px) {
  .header__contacts {
    display: none;
  }
}

.header__contacts-mobile {
  margin: 0;
  margin-top: 302px;
}
@media screen and (max-width: 479px) {
  .header__contacts-mobile {
    margin-top: 144px;
  }
}

.header__contacts .contacts-item {
  position: relative;
  margin-right: 50px;
}
.header__contacts .contacts-item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 1199px) {
  .header__contacts .contacts-item {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .header__contacts .contacts-item:last-child {
    margin-bottom: 0;
  }
}

.contacts-icon-envelope {
  vertical-align: middle;
  fill: var(--color-gray-dark);
  margin: 0;
  margin-right: 10px;
  padding: 0;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .contacts-icon-envelope {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .contacts-icon-envelope {
    margin-right: 8px;
  }
}

.contacts-icon-smartphone {
  vertical-align: middle;
  fill: var(--color-gray-dark);
  margin: 0;
  margin-right: 10px;
  padding: 0;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .contacts-icon-smartphone {
    display: none;
    margin-right: 8px;
  }
}
@media screen and (max-width: 1199px) {
  .contacts-icon-smartphone {
    margin-right: 8px;
  }
}

.contacts-mail {
  color: var(--color-gray-dark);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-mail:hover .contacts-icon-envelope, .contacts-mail:focus .contacts-icon-envelope {
  fill: var(--color-blue);
}
.contacts-mail:hover, .contacts-mail:focus {
  color: var(--color-blue);
}
@media screen and (max-width: 1199px) {
  .contacts-mail {
    margin: 0;
    padding: 0;
    font-size: 12px;
    letter-spacing: 0.24px;
  }
}

.contacts-mail-mobile {
  color: var(--color-gray-dark);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-mail-mobile:hover .contacts-icon-envelope, .contacts-mail-mobile:focus .contacts-icon-envelope {
  fill: var(--color-blue);
}
.contacts-mail-mobile:hover, .contacts-mail-mobile:focus {
  color: var(--color-blue);
}
@media screen and (max-width: 479px) {
  .contacts-mail-mobile {
    font-size: 20px;
  }
}

.contacts-telephone-number {
  color: var(--color-gray-dark);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-telephone-number:hover, .contacts-telephone-number:focus {
  color: var(--color-blue);
}
.contacts-telephone-number:hover .contacts-icon-smartphone, .contacts-telephone-number:focus .contacts-icon-smartphone {
  fill: var(--color-blue);
}
@media screen and (max-width: 1199px) {
  .contacts-telephone-number {
    margin: 0;
    padding: 0;
    font-size: 12px;
    letter-spacing: 0.24px;
  }
}

.contacts-telephone-number-mobile {
  color: var(--color-gray-dark);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.68px;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-telephone-number-mobile:hover, .contacts-telephone-number-mobile:focus {
  color: var(--color-blue);
}
.contacts-telephone-number-mobile:hover .contacts-icon-smartphone, .contacts-telephone-number-mobile:focus .contacts-icon-smartphone {
  fill: var(--color-blue);
}

.sociale-list-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 40px;
  margin-top: 64px;
}
@media screen and (max-width: 479px) {
  .sociale-list-mobile {
    margin-top: 44px;
  }
}

.sociale-list-mobile .sociale-list-item-mobile {
  margin: 0;
  padding: 0;
  margin-right: 10px;
}
.sociale-list-mobile .sociale-list-item-mobile:last-child {
  margin-right: 0;
}

.sociale-list-mobile .sociale-list-link-mobile {
  position: relative;
  color: var(--color-blue);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.36px;
}
@media screen and (max-width: 479px) {
  .sociale-list-mobile .sociale-list-link-mobile {
    font-size: 14px;
  }
}

.sociale-list-mobile .sociale-list-link-mobile::after {
  content: "";
  position: absolute;
  right: -5px;
  width: 1px;
  height: 22px;
  z-index: 50;
  background: rgba(33, 33, 33, 0.2);
}
@media screen and (max-width: 767px) {
  .sociale-list-mobile .sociale-list-link-mobile::after:last-child() {
    content: none;
  }
}

.section-item {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-color: var(--color-dark-blue);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Img-hero-1600px.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-hero-1600px.jpg);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .section-item {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Img-hero-1600px-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-hero-1600px-2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (max-width: 1199px) {
  .section-item {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (max-width: 1199px) {
  .section-item {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Img-hero-768px.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-hero-768px.jpg);
  }
}
@media screen and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 1199px) and (min-resolution: 192dpi) {
  .section-item {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Img-hero-768px-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-hero-768px-2x.jpg);
  }
}
@media screen and (max-width: 767px) {
  .section-item {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Img-hero-480px.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-hero-480px.jpg);
  }
}
@media screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .section-item {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Img-hero-480px-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-hero-480px-2x.jpg);
  }
}

.section-item .img-hero {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.section-item .text {
  width: 696px;
  color: var(--coor-white);
  text-align: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.36; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1199px) {
  .section-item .text {
    width: 360px;
    font-size: 26px;
    line-height: 1.6; /* 161.538% */
    letter-spacing: 1.56px;
  }
}
@media screen and (max-width: 479px) {
  .section-item .text {
    width: 280px;
    font-size: 22px;
    line-height: 1.6; /* 161.538% */
    letter-spacing: 1.56px;
  }
}
/* button */
.section-item .button {
  color: var(--coor-white);
  background-color: var(--color-blue);
  color: var(--coor-white);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.88; /* 187.5% */
  letter-spacing: 0.96px;
  width: 216px;
  height: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 4px;
  background: var(color-blue);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
}

@media screen and (max-width: 1199px) {
  .section-item .button {
    width: 200px;
  }
}
.section-item .button {
  margin: 0;
  margin-top: 30px;
}

/* backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: var(--coor-white);
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (max-width: 479px) {
  .modal {
    width: 320px;
  }
}

.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.4);
          transform: translate(-50%, -50%) scale(0.4);
}

.modal-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  fill: var(--color-blue);
}
@media screen and (max-width: 479px) {
  .modal-btn {
    top: 20px;
    right: 8px;
  }
}

.svg-modal-btn {
  margin: 6px;
}

/* modal form */
.contacts-form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1199px) {
  .contacts-form {
    width: 370px;
  }
}
@media screen and (max-width: 479px) {
  .contacts-form {
    width: 240px;
  }
}

.form-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.form-group label {
  margin-bottom: 8px;
}

.form-group input {
  padding-left: 42px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-group input:hover, .form-group input:focus {
  border-radius: 4px;
  border: 1px solid #2196f3;
  border-color: var(--color-blue);
}
.form-group input:hover + .icon-modal, .form-group input:focus + .icon-modal {
  fill: var(--color-blue);
}

.form-group textarea {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  height: 120px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-group textarea:hover, .form-group textarea:focus {
  border-radius: 4px;
  border: 1px solid #2196f3;
}

.form-group textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.form-group textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.form-group textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.form-group textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.form-group textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.text-contacts {
  color: var(--color-white-dark);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.user-name-modal {
  color: var(--color-gray-dark);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.telephone-number-modal {
  color: var(--color-gray-dark);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.email-modal {
  color: var(--color-gray-dark);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.coments-modal {
  color: var(--color-gray-dark);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.coments-modal-item {
  resize: none;
}

.checkbox-modal {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkbox-modal:focus + .checkbox-icon {
  border-color: var(--color-blue);
}
.checkbox-modal:checked + .checkbox-icon {
  border-color: var(--color-blue);
  background-color: var(--color-blue);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox-icon {
  position: absolute;
  top: 50%;
  left: 7px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  border: 2px solid var(--color-white-dark);
  border-radius: 2px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.сonditions {
  color: var(--color-gray-dark);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
  text-align: center;
  margin: 0;
}
@media screen and (max-width: 1199px) {
  .сonditions {
    font-size: 12px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 479px) {
  .сonditions {
    padding-left: 10px;
  }
}

.сonditions-link {
  text-decoration: underline;
  color: var(--color-blue);
  margin: 0;
}

.form-group-bottom {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.btn-form {
  color: var(--coor-white);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.96px;
  width: 200px;
  border: none;
  border-radius: 4px;
  background: var(--color-blue);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 52px;
}

.section-feature {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .section-feature {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.feature {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .feature {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 1199px) {
  .feature {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.li-feature {
  margin-right: 30px;
  width: 270px;
}
.li-feature:last-child {
  margin-right: 0;
}
@media screen and (max-width: 1199px) {
  .li-feature {
    width: 354px;
  }
  .li-feature:nth-last-child(odd) {
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .li-feature {
    width: 450px;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .li-feature:last-child {
    margin: 0;
  }
}
@media screen and (max-width: 479px) {
  .li-feature {
    width: 300px;
  }
}

.div-svg {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--bagroung-color-white);
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .div-svg {
    width: 354px;
  }
}
@media screen and (max-width: 767px) {
  .div-svg {
    width: 450px;
  }
}
@media screen and (max-width: 479px) {
  .div-svg {
    width: 300px;
  }
}

.feature .text {
  color: var(--color-white-dark);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .feature .text {
    text-align: center;
  }
}
.feature .text-item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: var(--color-gray-dark);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7; /* 171.429% */
  letter-spacing: 0.42px;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.section {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .section {
    display: none;
  }
}

.section .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photo .img {
  width: 370px;
  height: 294px;
  display: block;
}

.photo {
  margin: 0;
  padding: 0;
}

.photo .li-item {
  position: relative;
  margin: 0;
  padding: 0;
  margin-right: 30px;
}
.photo .li-item:last-child {
  margin-right: 0;
}

.section .text {
  color: var(--color-white-dark);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.text-app {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  margin: 0;
  padding: 0;
  color: var(--coor-white);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8)));
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  width: 370px;
  height: 70px;
}

.section-comands {
  background-color: var(--bagroung-color-white);
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .section-comands {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-comands .commads {
  color: var(--color-white-dark);
  background: var(--bagroung-color-white);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin: 0;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .section-comands .commads {
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}

.commands-item {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .commands-item {
    margin: 0;
    padding: 0;
  }
}
@media screen and (max-width: 1199px) {
  .commands-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.li-comands {
  margin: 0;
  padding: 0;
  margin-right: 30px;
  background-color: var(--coor-white);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.li-comands:last-child {
  margin-right: 0;
}
@media screen and (max-width: 1199px) {
  .li-comands {
    width: 354px;
  }
  .li-comands:nth-last-child(odd) {
    margin-right: 0;
  }
  .li-comands:nth-last-child(n+3) {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .li-comands {
    width: 450px;
    margin: 0;
    margin-bottom: 30px;
  }
  .li-comands:last-child {
    margin: 0;
  }
}
@media screen and (max-width: 479px) {
  .li-comands {
    width: 300px;
  }
}

.commands-item .img {
  width: 270px;
  height: 260px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
}
@media screen and (max-width: 1199px) {
  .commands-item .img {
    width: 354px;
    height: 374px;
  }
}
@media screen and (max-width: 767px) {
  .commands-item .img {
    width: 450px;
    height: 460px;
  }
}
@media screen and (max-width: 479px) {
  .commands-item .img {
    width: 300px;
    height: 315px;
  }
}

.commands-item .name {
  color: var(--color-white-dark);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  margin: 0;
}

.commands-item .profession {
  color: var(--color-gray-dark);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  margin: 0;
  margin-top: 10px;
}

.name-profession {
  padding-top: 30px;
  padding-bottom: 30px;
}

.img-Igor {
  background: url(<path-to-image>), lightgray -86.437px -3.457px/196.208% 136.002% no-repeat;
}

.img-Olga {
  background: url(<path-to-image>), lightgray -40.687px -0.224px/175.271% 121.356% no-repeat;
}

.img-Mykola {
  background: url(<path-to-image>), lightgray -227.68px -8.844px/193.508% 134.131% no-repeat;
}

.img-Myhaylo {
  background: url(<path-to-image>), lightgray -74.896px 0px/152.119% 105.326% no-repeat;
}

.section-comands .commads {
  color: var(--color-white-dark);
  background: var(--bagroung-color-white);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin: 0;
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .section-comands .commads {
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}

.sociale-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 16px;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list-item {
  margin: 0;
  padding: 0;
  margin-right: 10px;
}
.social-list-item:last-child {
  margin-right: 0;
}

.social-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-color: var(--coor-white);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover, .social-list-link:focus {
  background-color: var(--color-blue);
}
.social-list-link:hover .svg, .social-list-link:focus .svg {
  fill: var(--coor-white);
}

.social-list-link .svg {
  fill: var(--color-svg-gray);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients {
  background: var(--coor-white);
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .section-clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-clients .text {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

@media screen and (max-width: 1199px) {
  .section-clients .text {
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}
.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 50px;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .clients-list {
    gap: 30px 30px;
  }
}
@media screen and (max-width: 1199px) {
  .clients-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px 30px;
  }
}

.link-clients {
  width: 170px;
  height: 92px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid var(--color-svg-gray);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-clients:hover .svg-item, .link-clients:focus .svg-item {
  fill: var(--color-blue);
}
.link-clients:hover, .link-clients:focus {
  border-color: var(--color-blue);
}
@media screen and (max-width: 1199px) {
  .link-clients {
    width: 226px;
  }
}

.svg-item {
  fill: var(--color-svg-gray);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-li {
  margin-right: 30px;
  border-radius: 4px;
  height: 92px;
}
.clients-list-li:last-child {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .clients-list-li {
    display: inline-block;
    width: 210px;
    height: 92px;
    margin-bottom: 30px;
  }
  .clients-list-li:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1199px) {
  .clients-list-li {
    margin: 0;
  }
}

.foter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .foter-container {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 1199px) {
  .foter-container {
    display: block;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .div-foter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .div-foter-item {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .div-foter-item {
    text-align: center;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

.logo-header-index {
  display: inline-block;
}

.footer .web {
  color: var(--color-blue);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
@media screen and (max-width: 1199px) {
  .footer .web {
    font-size: 24px;
    letter-spacing: 0.72px;
  }
}

.footer .studio {
  color: var(--coor-white);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
@media screen and (max-width: 1199px) {
  .footer .studio {
    font-size: 24px;
    letter-spacing: 0.72px;
  }
}

.footer {
  background: var(--color-dark-blue);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .foter__address {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: var(--coor-white);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7; /* 171.429% */
  letter-spacing: 0.42px;
  margin: 0;
  margin-top: 20px;
}

.footer .address-text {
  margin: 0;
  padding: 0;
}

.footer .address-mail {
  display: block;
  color: var(--color-gray);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7; /* 171.429% */
  letter-spacing: 0.42px;
  margin: 0;
  margin-top: 9px;
  margin-bottom: 9px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .address-mail:hover, .footer .address-mail:focus {
  color: var(--coor-white);
}

.footer .address-tel {
  width: 231px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: var(--color-gray);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7; /* 171.429% */
  letter-spacing: 0.42px;
  margin: 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .address-tel:hover, .footer .address-tel:focus {
  color: var(--coor-white);
}

.div__social-networks {
  margin-left: 70px;
}
@media screen and (max-width: 1199px) {
  .div__social-networks {
    margin-left: 165px;
    text-align: center;
    padding-top: 5px;
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) {
  .div__social-networks {
    padding: 0;
    margin: 0;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
  }
}
@media screen and (max-width: 479px) {
  .div__social-networks {
    padding: 0;
    margin: 0;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
  }
}

.social__networks {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  color: var(--coor-white);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.sociale__list-foter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .sociale__list-foter {
    padding: 0;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.social__list-item-foter {
  margin: 0;
  padding: 0;
  margin-right: 10px;
}
.social__list-item-foter:last-child {
  margin-right: 0;
}

.social__list-link-foter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-color: var(--coor-white);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__list-link-foter:hover, .social__list-link-foter:focus {
  background-color: var(--color-blue);
}

.svg__foter {
  fill: var(--coor-white);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg__foter:hover .svg-foter, .svg__foter:focus .svg-foter {
  fill: var(--coor-white);
}

.form__foter {
  margin-left: auto;
}

.form-foter-div {
  margin-left: auto;
}

.form__foter-text {
  color: var(--coor-white);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1199px) {
  .form__foter-text {
    text-align: center;
  }
}

.form__group-foter {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (max-width: 1199px) {
  .form__group-foter {
    display: block;
    text-align: center;
  }
}

.form__group-foter input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  color: var(--coor-white);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
}
@media screen and (max-width: 1199px) {
  .form__group-foter input {
    width: 450px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 479px) {
  .form__group-foter input {
    width: 300px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.form__group-foter input::-webkit-input-placeholder {
  display: -webkit-box;
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.48px;
}

.form__group-foter input::-moz-placeholder {
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.48px;
}

.form__group-foter input:-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.48px;
}

.form__group-foter input::-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.48px;
}

.form__group-foter input::placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.48px;
}

.btn__foter {
  position: relative;
  width: 200px;
  height: 50px;
  padding: 10px 62px 10px 28px;
  margin-left: 12px;
  color: var(--coor-white);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.96px;
  border: none;
  border-radius: 4px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.svg__btn {
  position: absolute;
  top: 50%;
  right: 28px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-section {
  background: var(--coor-white);
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter .button-item {
  color: var(--color-dark);
  background: var(--bagroung-color-white);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6; /* 162.5% */
  letter-spacing: 0.48px;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter .button-item:hover, .filter .button-item:focus {
  background: var(--color-blue);
}
.filter .button-item:hover, .filter .button-item:focus {
  color: var(--coor-white);
}
.filter .button-item:hover, .filter .button-item:focus {
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.filter .li-item {
  margin-right: 8px;
}
.filter .li-item:last-child {
  margin-right: 0;
}

.filter .text {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6; /* 162.5% */
  letter-spacing: 0.48px;
}

.portfolio .img-item-portfolio {
  display: block;
  background: var(--coor-white);
  position: relative;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio .img-item-portfolio:hover, .portfolio .img-item-portfolio:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.portfolio .img-item-portfolio:hover .div-p, .portfolio .img-item-portfolio:focus .div-p {
  -webkit-transform: translateY(-101%);
          transform: translateY(-101%);
}
.portfolio .img-item-portfolio:hover .p-item, .portfolio .img-item-portfolio:focus .p-item {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.img-item-portfolio .title {
  color: var(--color-white-dark);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 2; /* 200% */
  letter-spacing: 1.08px;
}

.img-item-portfolio .text {
  color: var(--color-gray-dark);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.88; /* 187.5% */
  letter-spacing: 0.48px;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.portfolio .li-portfolio {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid var(--color-white-e);
  background: var(--coor-white);
}
.portfolio .li-portfolio:nth-child(3n) {
  margin-right: 0;
}
.portfolio .li-portfolio:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio .title {
  margin: 0;
  padding: 0;
}

.portfolio .text {
  margin: 0;
  margin-top: 4px;
  padding: 0;
}

.title-text {
  margin: 0;
  padding: 20px 24px 20px 24px;
  border-right: 1px solid var(--color-white-e);
  border-bottom: 1px solid var(--color-white-e);
  border-left: 1px solid var(--color-white-e);
}

.p-item {
  position: absolute;
  top: 63px;
  left: 24px;
  margin: 0;
  width: 322px;
  color: var(--coor-white);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.54px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.div-p {
  position: absolute;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  pointer-events: none;
}

.div-absolute {
  overflow: hidden;
  position: relative;
}/*# sourceMappingURL=main.css.map */