:root {
  --color-blue: #2196f3;
  --color-dark: #000;
  --coor-white: #fff;
  --color-white-e: #eee;
  --color-gray: rgba(255, 255, 255, 0.6);
  --color-white-dark: #212121;
  --color-gray-dark: #757575;
  --color-dark-blue: #2f303a;
  --bagroung-color-white: #f5f4fa;
  --border-bottom-color: #ececec;
  --color-svg-gray: #afb1b8;
}
body {
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* container */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.header {
  background: var(--coor-white);
  border-bottom: 1px solid var(--border-bottom-color);
}

/* logo */
.logo-header {
  color: var(--color-blue);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  display: flex;
  margin-right: 94px;
}

.logo-studio {
  color: var(--color-dark);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  display: flex;
}

/* link */
.site-nav .link:hover,
.site-nav .link:focus,
.mail-item:hover,
.mail-item:focus,
.telephone-number:hover,
.telephone-number:focus {
  color: var(--color-blue);
}

/* site-nav */

.site-nav .link.current {
  color: var(--color-blue);
}

.site-nav .current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--color-blue);
}

.site-nav {
  margin: 0;
  padding: 0;
  display: flex;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  position: relative;
  color: var(--color-white-dark);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.main-nav {
  display: flex;
  align-items: center;
}

/* contacts */

.main-contacts {
  display: flex;
  align-items: center;
}

.contacts {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
}

.contacts .item {
  position: relative;
  margin-right: 50px;
}

.contacts .item:last-child {
  margin-right: 0;
}

.icon-envelope {
  vertical-align: middle;
  fill: var(--color-gray-dark);
  margin: 0;
  margin-right: 10px;
  padding: 0;
}

.mail-item:hover .icon-envelope,
.mail-item:focus .icon-envelope {
  fill: var(--color-blue);
}

.icon-smartphone {
  vertical-align: middle;
  fill: var(--color-gray-dark);
  margin: 0;
  margin-right: 10px;
  padding: 0;
}

.telephone-number:hover .icon-smartphone,
.telephone-number:focus .icon-smartphone {
  fill: var(--color-blue);
}

.mail-item {
  color: var(--color-gray-dark);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.telephone-number {
  color: var(--color-gray-dark);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Text */
.section-item {
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-color: var(--color-dark-blue);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img-hero.svg);
}

.section-item .text {
  width: 696px;
  color: var(--coor-white);
  text-align: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.36; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

/* button */
.section-item .button {
  color: var(--coor-white);
  background-color: var(--color-blue);
  color: var(--coor-white);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.88; /* 187.5% */
  letter-spacing: 0.96px;
  width: 216px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(color-blue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
}

.section-item .button {
  margin: 0;
  margin-top: 30px;
}
/* backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: var(--coor-white);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.modal-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  border: none;
  background: none;
  cursor: pointer;
}

/* feature */

.section-feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature {
  margin: 0;
  padding: 0;
  display: flex;
}

.li-feature {
  margin-right: 30px;
  width: 270px;
}

.feature .li-feature:last-child {
  margin-right: 0;
}

.div-svg {
  margin-bottom: 30px;
  display: flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  background: var(--bagroung-color-white);
  border-radius: 4px;
}

.feature .text {
  color: var(--color-white-dark);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin: 0;
}

.feature .text-item {
  flex-shrink: 0;
  color: var(--color-gray-dark);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7; /* 171.429% */
  letter-spacing: 0.42px;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

/* Occupation */

.section {
  padding-bottom: 94px;
}

.section .photo {
  display: flex;
}

.photo .img {
  width: 370px;
  height: 294px;
  display: block;
}

.photo {
  margin: 0;
  padding: 0;
}

.photo .li-item {
  margin: 0;
  padding: 0;
  margin-right: 30px;
}

.li-item:last-child {
  margin-right: 0;
}

.section .text {
  color: var(--color-white-dark);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.app-div {
  position: relative;
}

.text-app {
  position: absolute;
  display: flex;
  bottom: 0;
  margin: 0;
  padding: 0;
  color: var(--coor-white);
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.8),
    rgba(47, 48, 58, 0.8)
  );
  width: 370px;
  height: 70px;
}

.section-comands {
  background-color: var(--bagroung-color-white);
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-comands .commads {
  color: var(--color-white-dark);
  background: var(--bagroung-color-white);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin: 0;
  margin-bottom: 50px;
}

.sociale-list {
  display: flex;
  margin: 0;
  margin-top: 16px;
  padding: 0;
  justify-content: center;
}

.social-list-item {
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.social-list-item:last-child {
  margin-right: 0;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-color: var(--coor-white);
  border-radius: 50%;
}

.svg {
  fill: var(--color-svg-gray);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--color-blue);
}

.social-list-link:hover .svg,
.social-list-link:focus .svg {
  fill: var(--coor-white);
}

.commands-item {
  margin: 0;
  padding: 0;
  display: flex;
}

/* Commands */

.li-comands {
  margin: 0;
  padding: 0;
  margin-right: 30px;
  background-color: var(--coor-white);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.li-comands:last-child {
  margin-right: 0;
}

.commands-item .img {
  width: 270px;
  height: 260px;
  flex-shrink: 0;
  display: block;
}

.commands-item .name {
  color: var(--color-white-dark);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  margin: 0;
}

.commands-item .profession {
  color: var(--color-gray-dark);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  margin: 0;
  margin-top: 10px;
}

.name-profession {
  padding-top: 30px;
  padding-bottom: 30px;
}

.img-Igor {
  background: url(<path-to-image>),
    lightgray -86.437px -3.457px / 196.208% 136.002% no-repeat;
}

.img-Olga {
  background: url(<path-to-image>),
    lightgray -40.687px -0.224px / 175.271% 121.356% no-repeat;
}

.img-Mykola {
  background: url(<path-to-image>),
    lightgray -227.68px -8.844px / 193.508% 134.131% no-repeat;
}

.img-Myhaylo {
  background: url(<path-to-image>),
    lightgray -74.896px 0px / 152.119% 105.326% no-repeat;
}

/* section-clients */

.section-clients {
  background: var(--coor-white);
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-clients .text {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

.clients-list {
  display: flex;
  margin: 0;
  margin-top: 50px;
  padding: 0;
  justify-content: center;
}

.link-clients {
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid var(--color-svg-gray);
}

.svg-item {
  fill: var(--color-svg-gray);
}

.link-clients:hover .svg-item,
.link-clients:focus .svg-item {
  fill: var(--color-blue);
}

.clients-list-li {
  margin-right: 30px;
  border-radius: 4px;

  height: 92px;
}

.link-clients:hover,
.link-clients:focus {
  border-color: var(--color-blue);
}

.clients-list-li:last-child {
  margin-right: 0;
}

/* footer */

.foter-container {
  display: flex;
  align-items: baseline;
}

.logo-header-index {
  display: inline-block;
}

.footer .web {
  color: var(--color-blue);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.footer .studio {
  color: var(--coor-white);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.footer {
  background: var(--color-dark-blue);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .address {
  flex-shrink: 0;
  color: var(--coor-white);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7; /* 171.429% */
  letter-spacing: 0.42px;
  margin: 0;
  margin-top: 20px;
}

.footer .address-item {
  margin: 0;
  padding: 0;
}

.footer .mail {
  display: block;
  color: var(--color-gray);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7; /* 171.429% */
  letter-spacing: 0.42px;
  margin: 0;
  margin-top: 9px;
  margin-bottom: 9px;
}

.footer .mail:hover,
.footer .mail:focus {
  color: var(--coor-white);
}

.footer .tel {
  width: 231px;
  flex-shrink: 0;
  color: var(--color-gray);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7; /* 171.429% */
  letter-spacing: 0.42px;
  margin: 0;
}

.footer .tel:hover,
.footer .tel:focus {
  color: var(--coor-white);
}

.div-social-networks {
  margin-left: 70px;
}

.social-networks {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  color: var(--coor-white);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.sociale-list-foter {
  display: flex;
  margin: 0;
  padding: 0;
}

.social-list-item-foter {
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.social-list-item-foter:last-child {
  margin-right: 0;
}

.social-list-link-foter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-color: var(--coor-white);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-list-link-foter:hover,
.social-list-link-foter:focus {
  background-color: var(--color-blue);
}

.social-list-link-foter:hover .svg-foter,
.social-list-link-foter:focus .svg-foter {
  fill: var(--coor-white);
}

.svg-foter {
  fill: var(--coor-white);
}

/* Portfolio */

.main-section {
  background: var(--coor-white);
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter .button-item {
  color: var(--color-dark);
  background: var(--bagroung-color-white);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6; /* 162.5% */
  letter-spacing: 0.48px;
  border-radius: 4px;
  border-color: transparent;

  padding: 6px 22px;
}

.filter .button-item:hover,
.filter .button-item:focus {
  background: var(--color-blue);
}

.filter .button-item:hover,
.filter .button-item:focus {
  color: #fff;
}

.filter {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.filter .li-item {
  margin-right: 8px;
}

.filter .button-item:hover,
.filter .button-item:focus {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.filter .li-item:last-child {
  margin-right: 0;
}

.filter .text {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6; /* 162.5% */
  letter-spacing: 0.48px;
}

.portfolio .img-item-portfolio {
  display: block;
  background: var(--coor-white);

  position: relative;
}

.img-item-portfolio .title {
  color: var(--color-white-dark);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 2; /* 200% */
  letter-spacing: 1.08px;
}

.img-item-portfolio .text {
  color: var(--color-gray-dark);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.88; /* 187.5% */
  letter-spacing: 0.48px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.portfolio .li-portfolio {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid var(--color-white-e);
  background: var(--coor-white);
}

.portfolio .img-item-portfolio:hover,
.portfolio .img-item-portfolio:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio .title {
  margin: 0;
  padding: 0;
}

.portfolio .text {
  margin: 0;
  margin-top: 4px;
  padding: 0;
}

.title-text {
  margin: 0;
  padding: 20px 24px 20px 24px;
  border-right: 1px solid var(--color-white-e);
  border-bottom: 1px solid var(--color-white-e);
  border-left: 1px solid var(--color-white-e);
}

.portfolio .li-portfolio:nth-child(3n) {
  margin-right: 0;
}

.portfolio .li-portfolio:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* .div-absolute {
  position: relative;
}

.div-absolute::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  pointer-events: none;
}

.div-absolute:hover::before {
  opacity: 1;
  transform: translateY(0%);
} */

.p-item {
  position: absolute;
  top: 63px;
  left: 24px;
  margin: 0;
  width: 322px;
  color: var(--coor-white);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.54px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);

  /* opacity: 0; */
}

.div-p {
  position: absolute;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0%);
  /* opacity: 0; */
  pointer-events: none;
}

.img-item-portfolio:hover .div-p {
  transform: translateY(-101%);
  /* opacity: 1; */
}

.img-item-portfolio:hover .p-item {
  /* opacity: 1; */
  transform: translateY(0%);
}

.div-absolute {
  overflow: hidden;
}
