:root {
  --color-blue: #2196f3;
  --color-dark: #000;
  --coor-white: #fff;
  --color-gray: rgba(255, 255, 255, 0.6);
  --color-white-dark: #212121;
  --color-gray-dark: #757575;
  --color-dark-blue: #2f303a;
  --bagroung-color-white: #f5f4fa;
}
body {
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* Header */
.header {
  width: 1600px;
  height: 80px;
  flex-shrink: 0;
  background: var(--coor-white);
  padding: 80px;
}

/* logo */
.logo-header {
  color: var(--color-blue);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.logo-studio {
  color: var(--color-dark);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.footer .web {
  color: var(--color-blue);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

/* footer */

.footer .studio {
  color: var(--coor-white);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.footer {
  width: 1600px;
  height: 252px;
  flex-shrink: 0;
  background: var(--color-dark-blue);
}

.footer .address {
  width: 231px;
  height: 21px;
  flex-shrink: 0;
  color: var(--coor-white);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 171%; /* 171.429% */
  letter-spacing: 0.42px;
}

.footer .mail {
  width: 136px;
  height: 21px;
  flex-shrink: 0;
  color: var(--color-gray);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 171%; /* 171.429% */
  letter-spacing: 0.42px;
}

.footer .mail:hover,
.footer .mail:focus {
  color: var(--coor-white);
}

.footer .tel {
  width: 231px;
  height: 21px;
  flex-shrink: 0;
  color: var(--color-gray);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 171%; /* 171.429% */
  letter-spacing: 0.42px;
}

.footer .tel:hover,
.footer .tel:focus {
  color: var(--coor-white);
}

/* link */
.site-nav .link:hover,
.site-nav .link:focus,
.mail-item:hover,
.mail-item:focus,
.telephone-number:hover,
.telephone-number:focus {
  color: var(--color-blue);
}

.site-nav .link.current {
  color: var(--color-blue);
}

.link {
  color: var(--color-white-dark);

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
/* contacts */
.mail-item {
  color: var(--color-gray-dark);

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.telephone-number {
  color: var(--color-gray-dark);

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

/* Text */

.section-item {
  width: 1600px;
  height: 600px;
  flex-shrink: 0;
  background: var(--color-dark-blue);
}

.section-item .text {
  width: 696px;
  color: var(--coor-white);
  text-align: center;

  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 136%; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

/* button */
.button {
  color: var(--coor-white);
  background-color: var(--color-blue);
  color: var(--coor-white);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 187%; /* 187.5% */
  letter-spacing: 0.96px;
  width: 216px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(color-blue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
}

/* feature1 */

.feature .text {
  width: 270px;
  color: var(--color-white-dark);

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.feature .text-item {
  width: 270px;
  height: 72px;
  flex-shrink: 0;
  color: var(--color-gray-dark);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 171%; /* 171.429% */
  letter-spacing: 0.42px;
}

/*  */

.section .text {
  color: var(--color-white-dark);
  text-align: center;

  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.section-comands {
  background: var(--bagroung-color-white);
}

.section-comands .commads {
  color: var(--color-white-dark);
  background: var(--bagroung-color-white);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.section .img {
  width: 370px;
  height: 294px;
  flex-shrink: 0;
}

.img-photo {
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.img-item {
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.img-photo-item {
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

/* Commands */

.commands-item .img {
  width: 270px;
  height: 260px;
  flex-shrink: 0;
}

.commands-item .name {
  color: var(--color-white-dark);
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.commands-item .profession {
  color: var(--color-gray-dark);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

.img-Igor {
  background: url(<path-to-image>),
    lightgray -86.437px -3.457px / 196.208% 136.002% no-repeat;
}

.img-Olga {
  background: url(<path-to-image>),
    lightgray -40.687px -0.224px / 175.271% 121.356% no-repeat;
}

.img-Mykola {
  background: url(<path-to-image>),
    lightgray -227.68px -8.844px / 193.508% 134.131% no-repeat;
}

.img-Myhaylo {
  background: url(<path-to-image>),
    lightgray -74.896px 0px / 152.119% 105.326% no-repeat;
}

/* Portfolio */

.main-section {
  background: var(--coor-white);
}

.filter .button-item {
  color: var(--color-dark);
  background: var(--bagroung-color-white);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 163%; /* 162.5% */
  letter-spacing: 0.48px;
  border: none;
}

.filter .button-item:hover,
.filter .button-item:focus {
  background: var(--color-blue);
}

.filter .text:hover,
.filter .text:focus {
  color: #fff;
}

.img-item-portfolio .title {
  color: var(--color-white-dark);

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 200%; /* 200% */
  letter-spacing: 1.08px;
}

.img-item-portfolio .text {
  color: var(--color-gray-dark);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 188%; /* 187.5% */
  letter-spacing: 0.48px;
}
