.header__logo {
  color: var(--color-blue);
  font-family: $primary-fonts;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  display: flex;
  margin-right: 94px;
}

.logo-studio {
  color: var(--color-dark);
  font-family: $primary-fonts;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  display: flex;
}
