.header__logo {
  color: var(--color-blue);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  display: flex;
  margin-right: 94px;

  @media screen and (max-width: 1199px) {
    font-size: 24px;
    letter-spacing: 0.72px;
    margin-right: 84px;
  }
}

.logo-studio {
  color: var(--color-dark);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  display: flex;

  @media screen and (max-width: 1199px) {
    font-size: 24px;
    letter-spacing: 0.72px;
  }
}
