/* contacts */

.header__main-contacts {
  display: flex;
  align-items: center;
}

.header__contacts {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  padding: 0;
  display: flex;

  @media screen and (max-width: 1199px) {
    display: block;
    margin-left: 96px;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header__contacts-mobile {
  margin: 0;

  margin-top: 302px;
}

.header__contacts .contacts-item {
  position: relative;
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }

  @media screen and (max-width: 1199px) {
    margin-right: 0;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.contacts-icon-envelope {
  vertical-align: middle;
  fill: var(--color-gray-dark);
  margin: 0;
  margin-right: 10px;
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (max-width: 1199px) {
    margin-right: 8px;
  }
}

.contacts-icon-smartphone {
  vertical-align: middle;
  fill: var(--color-gray-dark);
  margin: 0;
  margin-right: 10px;
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    display: none;
    margin-right: 8px;
  }

  @media screen and (max-width: 1199px) {
    margin-right: 8px;
  }
}

.contacts-mail {
  color: var(--color-gray-dark);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .contacts-icon-envelope,
  &:focus .contacts-icon-envelope {
    fill: var(--color-blue);
  }

  &:hover,
  &:focus {
    color: var(--color-blue);
  }

  @media screen and (max-width: 1199px) {
    margin: 0;
    padding: 0;

    font-size: 12px;
    letter-spacing: 0.24px;
  }
}

.contacts-mail-mobile {
  color: var(--color-gray-dark);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .contacts-icon-envelope,
  &:focus .contacts-icon-envelope {
    fill: var(--color-blue);
  }

  &:hover,
  &:focus {
    color: var(--color-blue);
  }

  @media screen and (max-width: 479px) {
    font-size: 20px;
  }
}

.contacts-telephone-number {
  color: var(--color-gray-dark);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--color-blue);
  }

  &:hover .contacts-icon-smartphone,
  &:focus .contacts-icon-smartphone {
    fill: var(--color-blue);
  }

  @media screen and (max-width: 1199px) {
    margin: 0;
    padding: 0;

    font-size: 12px;
    letter-spacing: 0.24px;
  }
}

.contacts-telephone-number-mobile {
  color: var(--color-gray-dark);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.68px;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--color-blue);
  }

  &:hover .contacts-icon-smartphone,
  &:focus .contacts-icon-smartphone {
    fill: var(--color-blue);
  }
}
