.section {
  padding-bottom: 94px;
}

.section .photo {
  display: flex;
}

.photo .img {
  width: 370px;
  height: 294px;
  display: block;
}

.photo {
  margin: 0;
  padding: 0;
}

.photo .li-item {
  position: relative;
  margin: 0;
  padding: 0;
  margin-right: 30px;
}

.li-item:last-child {
  margin-right: 0;
}

.section .text {
  color: var(--color-white-dark);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.text-app {
  position: absolute;
  display: flex;
  bottom: 0;
  margin: 0;
  padding: 0;
  color: var(--coor-white);
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.8),
    rgba(47, 48, 58, 0.8)
  );
  width: 370px;
  height: 70px;
}

.section-comands {
  background-color: var(--bagroung-color-white);
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-comands .commads {
  color: var(--color-white-dark);
  background: var(--bagroung-color-white);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin: 0;
  margin-bottom: 50px;
}

.sociale-list {
  display: flex;
  margin: 0;
  margin-top: 16px;
  padding: 0;
  justify-content: center;
}

.social-list-item {
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.social-list-item:last-child {
  margin-right: 0;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-color: var(--coor-white);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link .svg {
  fill: var(--color-svg-gray);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--color-blue);
}

.social-list-link:hover .svg,
.social-list-link:focus .svg {
  fill: var(--coor-white);
}
