:root {
  --color-blue: #2196f3;
  --color-dark: #000;
  --coor-white: #fff;
  --color-white-e: #eee;
  --color-gray: rgba(255, 255, 255, 0.6);
  --color-white-dark: #212121;
  --color-gray-dark: #757575;
  --color-dark-blue: #2f303a;
  --bagroung-color-white: #f5f4fa;
  --border-bottom-color: #ececec;
  --color-svg-gray: #afb1b8;
}
