.section-feature {
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.feature {
  margin: 0;
  padding: 0;
  display: flex;
}

@media screen and (max-width: 767px) {
  .feature {
    justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .feature {
    flex-wrap: wrap;
  }
}

.li-feature {
  margin-right: 30px;
  width: 270px;

  &:last-child {
    margin-right: 0;
  }

  @media screen and (max-width: 1199px) {
    width: 354px;

    &:nth-last-child(odd) {
      margin-right: 0;
    }
  }

  @media screen and (max-width: 767px) {
    width: 450px;
    margin-right: 0;
    margin-bottom: 30px;
    &:last-child {
      margin: 0;
    }
  }
}

.div-svg {
  margin-bottom: 30px;
  display: flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  background: var(--bagroung-color-white);
  border-radius: 4px;

  @media screen and (max-width: 1199px) {
    width: 354px;
  }

  @media screen and (max-width: 767px) {
    width: 450px;
  }
}

.feature .text {
  color: var(--color-white-dark);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .feature .text {
    text-align: center;
  }
}

.feature .text-item {
  flex-shrink: 0;
  color: var(--color-gray-dark);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7; /* 171.429% */
  letter-spacing: 0.42px;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}
