.section-clients {
  background: var(--coor-white);
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-clients .text {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

.clients-list {
  display: flex;
  margin: 0;
  margin-top: 50px;
  padding: 0;
  justify-content: center;
}

.link-clients {
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid var(--color-svg-gray);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-item {
  fill: var(--color-svg-gray);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients:hover .svg-item,
.link-clients:focus .svg-item {
  fill: var(--color-blue);
}

.clients-list-li {
  margin-right: 30px;
  border-radius: 4px;

  height: 92px;
}

.link-clients:hover,
.link-clients:focus {
  border-color: var(--color-blue);
}

.clients-list-li:last-child {
  margin-right: 0;
}
